@page "/counter"

<div style="height:100%;overflow-y:hidden;">
<h1>List</h1>

<fast-design-system-provider use-defaults>
    
    <div style="height:500px;">
        <BFUList Items=@testList  /> 
    </div>
</fast-design-system-provider> 
</div>

@code {
    private List<int> testList;

    protected override Task OnInitializedAsync()
    {
        testList = new List<int>();  
        for (var i=0; i< 5000; i++)
        {
            testList.Add(i);
        }
        return Task.CompletedTask; 
    }

}
