@page "/fetchdata"


<h1>DetailsList</h1>

<BFUDetailsList2 ItemsSource=@testList>
    <ItemTemplate>
        <div style="background-color:red"> 
                    Item: @context.Item.Name &amp;  
                    Index: @context.Index    
        </div>    
    </ItemTemplate>
</BFUDetailsList2>


@code {

     class DataItem{
        public string Name{get;set;}
        public string Alt {get;set;} = "Alternate"; 
    } 

    private List<DataItem> testList; 

    protected override Task OnInitializedAsync() 
    {
        testList = new List<DataItem>();  
        for (var i=0; i< 5000; i++)
        {
            testList.Add(new DataItem{Name = i.ToString()});
        }
        return Task.CompletedTask; 
    }

    
}
