@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<fast-design-system-provider use-defaults>
    <div style="display:flex;flex-direction:column;align-items:flex-start;">
    
    <input type="checkbox" @bind-value=@isChecked @bind-value:event="onchange" title="required" />

    <fast-fluent-text-field label="fast-fluent-text-field" />
    <fast-fluent-text-field required=@isChecked label="Testing Required" />    
    <fast-fluent-text-field disabled label="Testing Disabled" />
    <fast-fluent-label required>fast-fluent-label: Required Label</fast-fluent-label>

    <BFUTextField Label="Testing BFU" />
    <BFUTextField Required Label="Testing BFU Required" />
    (no label)
    <BFUTextField Required /> 
    <BFUTextField Disabled Label="Testing BFU Disabled" />


    </div>
</fast-design-system-provider>

@code{
    bool isChecked=false;
}